@tailwind base;
@tailwind components;
@tailwind utilities;

.card-body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: var(--padding-card, 1rem);
    gap: 0.5rem;
  }

  .card-actions {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 0.5rem;
    padding:0 1rem 1rem 0;
  }

  .heart-icon:hover{
    color: red;
  }

  .heart-solid{
    color: red;
  }
  
  
.score{
  color: #c0a311;
}

.navbar-center {
  justify-content: center;
}